/* === PAGE SECTION BACKGROUNDS === */

#home {
    background-image: url(../Resources/Formant-BG1.webp);
  }
  
  #about {
    background-image: url(../Resources/Formant-BG4.webp);
  }
  
  #work {
    display: flex;
    flex-direction: column;
    justify-content: center;
    position: relative;
    height: 100vh;
    box-sizing: border-box;
    padding: 4em 2em 2em;
    background-image: url(../Resources/Formant-BG3.webp);
  }
  
  #music {
    background-image: url(../Resources/Formant-BG1.webp);
    
  }
  
  
  #contact {
    background-image: url(../Resources/Formant-BG5.webp);
    display: flex;
    align-items: center;
    justify-content: center;
  }
  