
/*contact and stats alignment*/ 
#body,#email,#date,#subject,#phone{
  font-size:2vw;
  height:3vh;
  width:30vw;
  background-color:black;
  color:white;
}
#sbmt,#rst{
  text-align: center; 
  font-size:1vw;
  height:3vh;
  width:10vw;
}

.contactBox{/*places the contact form on the page in the bottomMasterBox*/
  font-size:2vw;
  right:-25vw;
  top: -20%;
  z-index:5500;
  margin:0;
  width:25vw;
  height:40vh;
  position: relative;
  float: top;
  color:white;
  text-align: center; 
} 


.cImg {
  float: left;
  left: 15vw;
  top: 0%;
  background-image: url(Resources/logo2\ blobs\ separate.png);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vw 8vh;
}