@media screen and (max-width: 900px) {
	body {
		font-size: 1em;
	}
	.iframe {
		width: 30vw;
		height: 20vh;
	}
	html {
		height: 350vh;
		margin: none;
		width: 100vw;
		overflow-y: scroll;
		scrollbar-color: rgb(0, 0, 0) rgb(61, 61, 61);
		scrollbar-width: thin;
	}
	.bioLabelMobile {
		visibility: visible;
		top: 0.2vh;
		left: 15vw;
	}
	.bioLabel {
		visibility: hidden;
	}
	h1 {
		font-size: 1em;
	}

	.netflix-slider {
		position: absolute;
	}

	.swiper-container {
		position: absolute;
		float: top;
		top: -20vh;
		left: 10vw;
		width: 80%;
		height: 80vh;
	}

	.swiper-wrapper {
		float: top;
		top: 1vh;
		left: 10vw;
		width: 100%;
		height: 20vh;
	}
	.showYear {
		visibility: hidden;
	}
	.showYearMobile {
		visibility:visible;
		background-color: rgb(180, 0, 0, 0);
		color: white;
		height: 2vh;
		width: 3vw;
		font-size: 1em;
		padding: 0%;
		margin: 0;
		text-align: center;
		position: absolute;
		float: top;
		right: 15vw;
		bottom: 5vh;
	}
	.homePageYoutubeBox {
		visibility: hidden;
	}
	.homePageSpotifyBox {
		visibility: hidden;
	}
	.homePageSpotifyBox2 {
		visibility: hidden;
	}
	/*******NAVIGATION AREA********/
	.homeLabel,
	.jsLabel,
	.bioLabel,
	.bioLabelMobile {
		/*Home label for navigation bar*/
		position: relative;
		padding: 0;
		margin: 0%;
		font-size: 1em;
		color: white;
		background-color: black;
		float: left;
		height: 2vh;
		width: 5vw;
		left: 7vw;
		text-align: center;
		top: 0vh;
	}

	.homeLabel {
		left: 3vw;
	}

	.bioLabel {
		left: 15vw;
	}

	.jsLabel {
		visibility: hidden;
		left: 20vw;
	}

	.homeLabel:hover,
	.bioLabel:hover,
	.text:hover {
		background-color: rgb(0, 0, 0, 0);
		color: rgb(255, 255, 255, 0);
		font-size: 1.5em;
	}

	.jsLabel:hover,
	.text:hover {
		background-color: rgb(0, 0, 0, 0);
		color: rgb(255, 255, 255, 0);
		font-size: 1.1em;
	}

	.headerBox {
		z-index: 999;
		background-color: rgba(0, 0, 0, 1);
		margin: 0%;
		padding: 0%;
		width: 100vw;
		height: 9vh;
	}

	.bgOv {
		background-color: rgba(0, 0, 0, 0.7);
		background-repeat: no-repeat;
		background-position: center;
		position: fixed;
		background-size: cover;
		top: 0%;
		height: 100vh;
		width: 100vw;
		z-index: 10;
	}

	

	.titleBox {
		z-index: 100;
		text-align: center;
		font-size: 5vh;
		position: relative;
		background-color: rgba(0, 0, 0, 0);
		float: top;
		top: -2vh;
		height: 8vh;
		width: 60vw;
		left: 30vw;
	}

	.formantLogo {
		z-index: 100;
		position: fixed;
		left: 0vw;
		top: 0vh;
		background-image: url(https://cdn.glitch.com/69d13e27-a78f-439b-98ce-b2986f1db339%2Flogo2.png?v=1579552576552);
		background-repeat: no-repeat;
		background-position: left;
		background-size: 30vw 6vh;
		width: 30vw;
		height: 6vh;
	}
	.musicHeaderTextBoxMobile {
		position: absolute;
		display: flex;
		z-index: 100;
		height: 8vh;
		float: top;
		width: 100vw;
		top: 50vh;
		left: 5vw;
		font-size: 4em;;
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
	}
	.homePageMusicBox {
		visibility: hidden;
	}
	.homePageMusicBoxMobile {
		visibility: visible;
		border-style: solid;
		border-color: white;;
		flex-wrap: wrap;
		z-index: 100;
		margin: 0%;
		position: absolute;
		background-color: rgba(255, 255, 255, 0);
		top: 60vh;
		height: 140vh;
		float: top;
		left: 5vw;
		width: 80vw;
	}
	.musicPlayerBox2 {
		flex: 1;
		z-index: 100;
		margin: 3%;
		background-color: rgba(0, 0, 0, 0.5);
		height: 20vh;
		width: 10vw;
		text-align: center;
		transition: 0.5s;
	}
	.swiper-container-mobile {
		width: 80vw;
		height: 20vh;
		float: top;
	}
	.swiper-slide-mobile {
		text-align: center;
		font-size: 18px;
		background: (0, 0, 0, 0);
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
	}
	.netflix-slider-mobile {
		width: 80vw;
	
		.swiper-wrapper-mobile {
			height: 20vh;
		}
	
		.swiper-slide-mobile {
			transition: 250ms all;
	
			&:hover {
				transform: scale(1.2);
				z-index: 1;
			}
	
			&:first-child:hover {
				margin: 0 40px;
			}
	
			&:last-child:hover {
				margin: 0 -40px;
			}
	
		}
	
	
	}	

	.bioHeaderTextBox {
		z-index: 100;
		height: 6vh;
		width: 80vw;
		background-color: rgba(0, 0, 0, 0);
		text-align: center;
	}

	.bioAlignmentPointerMobile {
		background-color: rgba(0, 0, 0, 0);
		position: absolute;
		width: 80vw;
		height: 6vh;
		left: 5vw;
		top: 90vh;
	}
	div.tubeBox1 {
		visibility: visible;
		z-index: 100;
		background-size: cover;
		background-position: center;
		background-color: rgba(255, 255, 255, 1);
		position: absolute;
		width: 50vw;
		height: 30vh;
		left: 0vw;
		top: 5vh;
	}
	.pictureBox1 {
		visibility: hidden;
	}

	.pictureBox2 {
		visibility: hidden;
	}
	div.pictureBox3 {
		visibility: visible;
		z-index: 10;
		background-image: url("Resources/melol.jpg");
		background-size: cover;
		background-position: center;
		background-color: rgba(255, 255, 255, 1);
		position: absolute;
		width: 60vw;
		height: 50vh;
		left: 10vw;
		top: 250vh;
	}
	div.pictureBox4 {
		visibility: visible;
		z-index: 100;
		background-image: url("Resources/melol2.jpg");
		background-color: rgba(255, 255, 255, 1);
		background-position: center;
		background-size: cover;
		position: absolute;
		width: 80vw;
		height: 60vh;
		left: 10vw;
		top: 400vh;
	}
	div.textBoxBioCentre {
		visibility: hidden;
	}
	div.textBoxBioCentre2 {
		visibility: hidden;
	}
	.textBoxBioCentreM {
		color: white;
		z-index: 60;
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		width: 80vw;
		height: 50vh;
		left: 5vw;
		top: 300vh;
	}
	.textBoxBioCentre2M {
		color: white;
		z-index: 60;
		visibility: visible;
		background-color: rgba(0, 0, 0, 0.5);
		position: absolute;
		width: 80vw;
		height: 40vh;
		left: 5vw;
		top: 205vh;
	}
	/*Javascript boxes for menu*/
	div.hamburgerButton1,
	div.hamburgerButton2 {
		width: 5vw;
		height: 3vh;
		background-color: black;
	}

	div.hamburgerButton2 {
		left: 90vw;
		top: -12vh;
		background-color: black;
	}

	.hamburger-menu {
		position: absolute;
		display: flex;
		float: top;
		left: -1vw;
		top: 1vh;
		flex-direction: column;
		justify-content: space-around;
		height: 4vh;
		width: 5vw;
	}

	.hamburger-menu2 {
		position: absolute;
		display: flex;
		float: top;
		flex-direction: row;
		justify-content: space-around;
		top: -0vh;
		left: 2vw;
		height: 4vh;
		width: 7vw;
	}

	.bar {
		width: 6vw;
		height: 0.4vh;
		background-color: white;
		margin: 0;
	}

	.shortBar {
		width: 4vw;
		height: 0.3vh;
		background-color: white;
		margin: 0;
	}

	.vertBar {
		width: 0.7vw;
		height: 3vh;
		background-color: white;
		margin: 0;
	}

	.vertShortBar {
		width: 0.7vw;
		height: 2vh;
		background-color: white;
		margin: 0;
	}

	div.centreBoxTitle {
		background-color: rgba(0, 0, 0, 0.1);
		width: 30vw;
	}

	.iframe {
		width: 20vw;
		height: 20vh;
	}

	canvas {
		width: 90vw;
		height: 40vh;
	}

	/*places the contact form 
  on the page*/
	

	div.javascriptProjectsBox {
		font-size: 4vw;
		width: 100vw;
		left: 0vw;
		top: 120vh;
		z-index: 5500;
		margin: 0;
		height: 60vh;
		position: absolute;
		float: top;
		color: white;
		text-align: center;
		visibility: hidden;
	}

	.bottomBox {
		/*footer area*/
		width: 100vw;
		height: 10vh;
	}

	.iconBox1,
	.iconBox2,
	.iconBox3,
	.iconBox4 {
		padding: 1em;
		margin: 0;
		text-align: center;
		position: relative;
		float: left;
		left: 0%;
		z-index: 100;
		position: relative;
		left: 25vw;
		top: -0.5vh;
		background-repeat: no-repeat;
		background-position: left;
		background-size: 4vw 3vh;
	}

	.iconBox1,
	.iconBox4 {
		background-size: 4vw 3vh;
	}

}


@media screen and (max-height: 400px) {
	div.titleBox {
		height: 8vh;
		font-size: 9vw;
	}
}

@media screen and (max-height: 450px) {
	.overlay a {
		font-size: 20px;
	}

	.overlay .closebtn {
		font-size: 40px;
		top: 15px;
		right: 35px;
	}
}