/*
***********************************
******HEADER AND FOOTER AREA*******
***********************************
*/
/*header area*/
.headerBox {
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.2);
  margin: 0%;
  padding: 0%;
  width: 100vw;
  height: 6vh;
  position: fixed;
  float: top;
  right: 0vw;
  text-align: center;
}
/*******NAVIGATION AREA********/
.homeLabel,
.contLabel,
.bioLabel {
  /*Home label for navigation bar*/
  margin: 0.5%;
  position: relative;
  font-size: 0.5em;
  color: white;
  background-color: rgba(0, 0, 0, 0);
  float: left;
  height: 2.5vh;
  width: 10vw;
  left: 5vw;
  text-align: center;
  top: 4vh;
}
/******END OF NAVIGATION AREA*****/
/*
***********FOOTER AREA*************
*/
.bottomBox {
  /*footer area*/
  margin: 0;
  z-index: 9999;
  background-color: rgba(0, 0, 0, 1);
  width: 100vw;
  height: 8vh;
  position: fixed;
  float: right;
  right: 0%;
  bottom: 0%;
}
.bottomFirstBox {
  /*text on the footer*/
  font-size: 0.8em;
  margin: 0%;
  position: fixed;
  background-color: rgba(200, 10, 10, 0.3);
  float: right;
  height: 2.5vh;
  width: 40vw;
  left: 55vw;
  text-align: center;
  bottom: 3%;
}
/* Dropdown button on hover & focus */
.hamburgerButton2 {
  z-index: 9999;
  float: top;
  top: -11.5vh;
  left: 92vw;
  position: relative;
  height: 4vh;
  width: 3vw;
  margin: 0;
  padding: 0;
  background-color: black;
}
.hamburgerButton2:hover {
  background-color: black;
}
.hamburgerButton1 {
  z-index: 500;
  top: 1vh;
  position: fixed;
  height: 4vh;
  width: 3vw;
  margin: 0;
  padding: 0;
  right: 9vw;
  background-color: black;
}
.hamburgerButton1:hover,
.dropbtn:focus {
  z-index: 9999;
  background-color: black;
}
