/* CSS files add styling rules to your content */
body {
  font-family: helvetica, arial, sans-serif;
  font-size: 1em;
  margin: 0em;
  height: 100vh;
  width:100vw;  
  color: white;
}

h1 {
  font-style: italic;
  color: #373fff;
}
form {
  display: inline-block;
  margin:0;
  padding:0;
}
label, button {
  margin:0%;
  height:15px;
} 
caption {  
  border-top:1px solid;  
  border-bottom:1px solid; 
  border-left:1px solid;
  border-right:1px solid;
}
table td, table th{
  font-size:2vw;
  height: 3vh;
  text-align: center;
  width:100%;
  font-size:1vw;   
  border-left:1px solid;
  border-bottom:1px solid;  
}

/**********************************
*******BODY BOXES FOR PAGE*********
***********************************/
.textBoxRight {  
  float: right;   
}
.leftBoxTitle, .rightBoxTitle {
  height: 3vh;
  width: 50vw;
  color:white;
  left: 25vw;
  background-color: rgba(50,10,10,0.3); 
  text-align: center;
}

.textBoxLeft {
  float: left;
  left: 10vw;
  background-image: url(https://cdn.glitch.com/69d13e27-a78f-439b-98ce-b2986f1db339%2Flogo2.png?v=1579552576552);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 40vw 8vh;
}

.textBoxLeft, .textBoxRight {
  text-align: center;
  margin: 2%;
  height: 15vh;
  position: relative;
  background-color: rgba(5,0,0,0.3); 
  color:white;
  width: 50vw;
  float: top;
  top: 35vh;
}

.centreBoxTitle {
  z-index: 900;
  height: 8vh;
  width: 80vw;
  background-color: rgba(0,0,0,0.1); 
  text-align: center;  
}
.textBoxCentre {
  z-index: 900;
  margin: 0%;
  position: fixed;
  background-color: rgba(0,0,0,1);
  background-size: 40vw 15vh;
  height: 40vh;
  width: 80vw;
  float: top;
  top: 40vh;
  left: 10vw;
  text-align: center;
}

.titleBox {
  text-align: center;
  font-size: 5vh;
  position: relative;  
  background-color: rgba(0,0,0,0.3); 
  float: top;  
  height: 25vh;
  width: 80vw;
  left: 10vw;  
}

.titleimg {   
  left: 10vw;
  top: 10vh;
  background-image: url(https://cdn.glitch.com/69d13e27-a78f-439b-98ce-b2986f1db339%2Flogo2.png?v=1579552576552);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 80vw 32vh;
}

.boxShadows {
  box-shadow: 2px 2px 15px black;
}
.smallShadows {
  box-shadow: 2px 3px 9px black;
}
#div1 {
  float: left; 
  color: skyblue;
}

#bgOv {
  background-color: rgba(255,255,255,0.9);
  height: 90vh;
  width: 100vw;
  z-index: 50;
}


.bg{
  background-image: url(https://cdn.glitch.com/69d13e27-a78f-439b-98ce-b2986f1db339%2Fwlp.jpg?v=1579552578595);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  top:0%;
  height: 110vh;
  width: 100vw;
  z-index: 1;
}

#bgimg {  
  background-image: url(https://cdn.glitch.com/69d13e27-a78f-439b-98ce-b2986f1db339%2Fwlp.jpg?v=1579552578595);
  background-repeat: no-repeat;
  background-position: center;
  position: fixed;
  background-size: cover;
  top:0%;
  height: 110vh;
  width: 100vw;
  z-index: 1;
}




#focal {
  display: flex;
  height: 500px;
  flex-direction: column;
  align-items: center;
}

#testimonials {
  display: flex;
  justify-content: space-evenly;
  color: white;
  font-style: italic;
}

.overlay {
  height:100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  
  /*background-color: #206a80;*/
  background-color: rgba(10,0,20,0.7);
  overflow-x: hidden;
  transition: 0.5s;  
}

.overlay-content {
  position: relative;
  top: 10%;
  width: 100%;
  text-align: right;
  margin-top: 25px;
}

.overlay a {
  padding: 20px;
  text-decoration: none;
  font-size: 12px;
  color: white;
  display: block;
  transition: 0.3s;
}

.overlay a:hover, .overlay a:focus {
  color: black;
}

.overlay .closebtn {
  position: absolute;
  top: 10%;
  right: 10%;
  font-size: 50px;
}

#header {
  float: top;
  left:92vw;
  top:1vh;
  position: relative;
  z-index: 1;
  height: 3vh;
  width: 3vw;  
}

/** FX and stuff**/
.homeLabel:hover,
.bioLabel:hover, 
.contLabel:hover, 
.bottomFirstBox:hover,
.iconBox1:hover,
.iconBox2:hover,
.iconBox3:hover{
  background-color: rgba(10,0,20,0.4);
  color: rgba(225,10,50,1);
  transition: 0.3s;
}
